<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.tareas.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.tareas.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaUsuarioServlet</servlet-name>
        <servlet-class>com.tareas.web.AltaUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaTareasServlet</servlet-name>
        <servlet-class>com.tareas.web.ListaTareasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTareaServlet</servlet-name>
        <servlet-class>com.tareas.web.AltaTareaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaUsuarioServlet</servlet-name>
        <url-pattern>/alta-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaTareasServlet</servlet-name>
        <url-pattern>/lista-tareas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTareaServlet</servlet-name>
        <url-pattern>/alta-tarea</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
